* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F8F9FA;
    color: #333;
    line-height: 1.5;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}


.botao {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 30px;
    display: inline-block;
    
}

.cabecalho {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 15px 0;
    width: 100%;
    
}


.navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4caf50;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;

}

.menu a {
    color: #333;
    font-weight: bold;
}


